altgraph==0.17.5
certifi==2026.5.20
charset-normalizer==3.4.7
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
decorator==4.4.2
download==0.3.5
idna==3.18
imageio==2.37.3
imageio-ffmpeg==0.6.0
moviepy==1.0.3
numpy==2.2.6
opencv-python-headless==4.13.0.92
packaging==26.2
pefile==2024.8.26
pillow==12.2.0
proglog==0.1.12
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2026.5
pywin32-ctypes==0.2.3
requests==2.34.2
setuptools==82.0.1
six==1.17.0
torch==1.13.1
torch-directml==0.1.13.1.dev230413
torchvision==0.14.1
tqdm==4.67.3
typing-extensions==4.15.0
urllib3==2.7.0
